<%- include ("./includes/header") %>

<div class="container">
    
    <h1>Colleges List 
      </h1>
    
  <%  maindata.forEach(function(data){ %>
        <div class="card text-center">
            <a href="/college/<%= data.collegeid %>"> 
            <div class="card-header">
          <%=    data.name  %>
            </div>
            <div class="card-body">
              <h5 class="card-title"> <%= data.about %> </h5>
              <p class="card-text"> <%= data.data %> </p>
               
            </div></a>
            <div class="card-footer text-muted">
              <%= data.date %>

            </div>
            <% 
            if( currentUser && currentUser.admin == true ){ %>
            <a href="/college/<%= data.collegeid %>/edit"> <button class=" btn btn-warning">Edit </button> </a>
            <form action="/college/<%= data.collegeid %>?_method=DELETE" method="post">
              <button class="btn btn-primary">Delete</button>
            </form>
            <% } %>
          </div>
        
 <%   }); %>

</div>


<%- include ("includes/footer") %>