<%- include ("./includes/header") %>

<div class="container" >

    <form action="/college/<%= editdata.collegeid %>?_method=PUT" method="POST">
        <div class="row">
            
            <div class="col"></div>
            <div class="col-6">

         

                <h1>Edit <%= editdata.name %> </h1>
                
                <div class="form-group">
                    <label for="collegeName">College Name : </label>
                    <input type="text" name="collegeName" class="form-control" id="collegeName" value="<%= editdata.name %>">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                       Enter the full name of the college.
                      </small>
                  </div>


                  <div class="form-group">
                    <label for="place">Place : </label>
                    <input type="text" name="place" class="form-control" id="place" value="<%= editdata.place %>">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      Enter the Location of the College. For example Kochi, Kerala.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="year">Year Established : </label>
                    <input type="number" name="year" class="form-control" id="year" min="1990" max="2021" value="<%= editdata.estYear %>">
                  </div>
                  <div class="form-group">
                    <label for="affiliation">Afiliation : </label>
                    <input type="text" name="affiliation" class="form-control" id="affiliation" value="<%= editdata.affiliation %>">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Enter the University the collage is affiliated.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="About">Brief Description : </label>
                    <input type="text" name="about" class="form-control" id="about" value="<%= editdata.about %>">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Enter a Small intoduction about the college
                     </small>
                  </div>
                  <div class="form-group">
                    <label for="data1">Description </label>
                    <input type="text" name="data" class="form-control" id="data1" value="<%= editdata.data %>">
                  </div>
                  <small id="passwordHelpBlock" class="form-text text-muted">
                    Enter about the College
                 </small>
                  <div class="form-group">
                    <label for="location">Location : </label>
                    <input type="text" name="location" class="form-control" id="location" value="<%= editdata.location %>">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        For Coordinates, To be left blank
                     </small>
                  </div>
                  
                  <div class="form-group">
                    <label for="phone">Contact No : </label>
                    <input type="number" name="phone" class="form-control" id="phone" min="999999999" max="10000000000" value="<%= editdata.contact.phone %>" >
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Enter 10 Digit Indian Number Only
                     </small>
                    <label for="email">Email : </label>
                    <input type="email" name="email" class="form-control" id="email" value="<%= editdata.contact.email %>">
                  </div>

                  <div class="form-group">
                      <h3 class="alert">Can We give admission?</h3>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio1"> Yes : &nbsp; </label>
                        <input class="form-check-input" type="radio" name="admit" id="inlineRadio1" value="1">
                        
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio2">No : &nbsp; </label>
                        <input class="form-check-input" type="radio" name="admit" id="inlineRadio2" value="0">
                        
                      </div>
                      <small id="passwordHelpBlock" class="form-text text-muted">
                        Give yes if we can provide Councelling in this college
                     </small>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col"></div>
       
        </div>
    </form>

</div>


<%- include ("includes/footer") %>