<%- include ("includes/header") %>

<div class="container">

<h1> Edit <%= currentUser.name %> </h1>

    <form action="/profile/<%= currentUser.username %>"  method="post">
        <div class="form-group">
            <label for="name">Name : </label>
            <input type="text" name="name" class="form-control" id="name" value="<%=currentUser.name %>" required >
        </div>

        <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" name="username" class="form-control" id="email" value="<%=currentUser.username %>" required >
        </div>
        <div class="form-group">
            <label for="phone">Phone : </label>
            <input type="number" name="phone" class="form-control" id="phone" min="999999999" max="10000000000" value="<%=currentUser.phone %>"  required >
            <small id="passwordHelpBlock" class="form-text text-muted">
                Enter 10 Digit Indian Number Only
             </small>
        </div>
        <button class="btn btn-primary"> SUBMIT </button>
    </form>

</div>


<%- include ("includes/footer") %>